/* css styles */

.profile-img {
    width: 200px; /* Set desired width */
    height: 200px; /* Set desired height */
    border-radius: 50%; /* Makes the image round */
    object-fit: cover; /* Ensures the image covers the area */
    float: left; /* Keeps the image on the left side */
    margin-right: 30px; /* Space to the right */
    margin-bottom: 80px; /* Space below */
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.grid-item {
  position: relative;
  overflow: hidden;
}

.grid-item img {
  width: 100%;
  height: auto;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.grid-item:hover .overlay {
  opacity: 1;
}
